/*=============== 
HERO
==================*/

@import url('https://fonts.googleapis.com/css2?family=Otomanopee+One&family=Sora&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Otomanopee+One&family=Sora&display=swap');


section.hero {
  margin: auto;
  margin: 80px 0;
  box-sizing: border-box;
}

section.hero img{
  width: 300px;
  margin: 1em 0;
  
 
}

section.hero .container {
  width: 90%;
  max-width: 980px;
  margin: auto;
  display: flex;
 
}

section.hero p {
  color: rgb(0, 0, 0);
  font-size: 23px;
  line-height: 3.2rem;
  margin: 10px 0px 0px;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
 
}

.paraHome{
  color: rgb(0, 0, 0);
  font-size: 23px;
  line-height: 3.2rem;
  margin: 10px 0px 0px;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
}



.titHome{
  font-size: 40px;
  color: #a18a1b;
  font-weight: bold;
  font-family: 'Otomanopee One', sans-serif;
 
}


  