@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Otomanopee+One&family=Sora&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merienda&display=swap');


.titulo{
    font-size: 32px;
    color: #a18a1b;
    font-family: 'Merienda', cursive;
    margin: 40px 50px;
    font-style: normal;
    font-weight: 400;
    font-display: fallback;
    src: url(https://fonts.gstatic.com/s/merienda/v9/gNMHW3x8Qoy5_mf8uWMLMIqK_Q.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

.para{
    color: rgb(0, 0, 0);
    font-size: 21px;
    line-height: 3.2rem;
    margin: 50px;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    text-align: justify;
	margin-bottom: 20px;
    margin-top: -2px;
}






